header
    padding 0px 12px
    line-height: 64px
    box-shadow 0 2px 5px rgba(0,0,0,.26)
    background #fff
    margin-bottom 68px
    text-align right
    nav
        a
            display inline-block
            padding 0px 12px
            color #424242
            font-size 1.8em
            min-width 48px
            position: relative
            text-align: center
        a:hover
        a:focus
            color #212121
.headerNavCounter
    display block
    position absolute
    height 26px
    border-radius 50%
    font-size .4em
    line-height: 26px
    text-align center
    color #fff
    left 0px
    bottom 0px
    width 100%
    color $mainColor
    font-weight: bold