header
    padding 0px 12px
    line-height: 64px
    box-shadow 0 2px 5px rgba(0,0,0,.26)
    background #fff
    nav
        a
            display inline-block
            padding 0px 12px
            color #424242
        a:hover
        a:focus
            color #212121