:global
    body
        margin 0
        background: #FAFAFA
        font-size 1.6em
        color #212121
        font-family: sans-serif
    html
        font-size: 62.5%
    a
        text-decoration none